.fullwrap {
  width: 600px;
  background: #87A2F9 ;
  padding: 20px 0 5px;
}
.header {
  width: 90%;
  height: 50px;
  background: #595BB2;
  margin: auto auto 15px;
}
.wrap {
  width: 90%;
  height: 410px;
  background: #C3C7D2;
  margin: auto auto 15px;
}
.main {
  width: 300px;
  height: 400px;
  background: #EDDC8C;
  margin: 5px 25px 5px 5px;
  float: left;
}
.sidebar {
  width: 200px;
  height: 400px;
  background: blue;
  margin: 5px;
  float: left;
}
.footer {
  width: 90%;
  height: 100px;
  background: #EED614;
  margin: auto auto 15px;
}
